/* /src/styles/variables.css */

:root {
  /* 🛡️ FALLBACK SYNCHRONOUS: Laranja Alfa */
  /* Se o themeEngine demorar 200ms para rodar, o Tailwind lerá isso nativamente */
  --primary-hex: #ea580c;
  --primary-rgb: 234, 88, 12; 
  --secondary-color: #ffffff;
  
  --bg-app: #f8fafc;
  --text-main: #1e293b;
}

/* Reatividade Nativa para o Modo Escuro */
html.dark {
  --bg-app: #0f172a;
  --text-main: #f1f5f9;
}

body {
  background-color: var(--bg-app);
  color: var(--text-main);
  /* Transição de cores exclusiva para o motor de temas, mantendo 60fps */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}